/*setting the elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*color for the body section*/
body {
    background-color: #d9dcd6;
}

/*header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*text that goes in the header and the font-size*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*styling .seo*/
header h1 .seo {
    color: #d9dcd6;
}

/*styling div within header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

header nav ul {
    list-style-type: none;
}

/*text in header*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*A tags*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*settings for .content div*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Combining these 3 classes adn styling them together*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Combining these 3 classes*/
/*setting height for the images within .content*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Combining these 3 classes*/
/*styling the headers*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*floating images for the .search-engine-optimization and .social-media-marketing thats on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*floating image .online-reputation-management thats on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*setting font size for paragraph tag*/
p {
    font-size: 16px;
}

/*styling benefits class*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/*styling the classes box*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


/*styling the heading in the div class in .benefits*/ 
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


/*styling the images in the benefits class*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styling footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*styling the footer header*/
footer h2 {
    font-size: 20px;
}